{% extends 'layout.html' %}
{% block title %}Balance{% endblock %}
{% block content %}
<h2 class="text-center mb-3">Balance</h2>
<div class="row">
	<div class="col-lg-6 offset-lg-3 col-sm-12 text-center">
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
				<div class="alert alert-{{category}}" role="alert">{{ message }}</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
	</div>
</div>
<div class="row">
	<div class="col text-center">
		<span class="h3">{{total_balance_sats}}</span> sats
		<br/>
	</div>
</div>
{% if not total_balance_sats == '0' %}
<div class="row">
	<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-xs-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Mixdepth</th>
					<th class="text-end">Balance (sats)</th>
				</tr>
			</thead>
			<tbody>
				{% for mixdepth_balance in mixdepth_balance_sats %}
				<tr>
					<th>{{loop.index-1}}</th>
					<th class="text-end">{{mixdepth_balance}}</th>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endif %}
<div class="row">
	<div class="col text-center">
		<a class="btn btn-primary mt-3" style="width: 10em" href="/deposit">Deposit</a>

		{% if not total_balance_sats == '0'  %}
		<a class="btn btn-outline-primary mt-3 ms-2" style="width: 10em" href="/withdraw">Withdraw</a>
		<br/>
		{% endif %}

		{% if sufficient_balance_yg %}
			{% if yg_running %}
			<a class="btn btn-warning mt-3 me-1 position-relative" style="width: 10em" href="/yg" data-bs-toggle="tooltip" data-bs-placement="top" title="Running">
				Yield Generator
				<span class="position-absolute top-0 start-100 translate-middle p-2 badge rounded-circle bg-success">
				</span>
			</a>
			{% else %}
			<a class="btn btn-warning mt-3 me-1 position-relative" style="width: 10em" href="/yg" data-bs-toggle="tooltip" data-bs-placement="top" title="Stopped">
				Yield Generator
				<span class="position-absolute top-0 start-100 translate-middle p-2 badge rounded-circle bg-secondary">
				</span>
			</a>
			{% endif %}
			{% if coinjoin_running %}
			<a href="/coinjoin" class="btn btn-outline-warning mt-3 ms-1" style="width: 10em;" data-bs-toggle="tooltip" data-bs-placement="top" title="Running">
				Coinjoin
				<span class="position-absolute top-0 start-100 translate-middle p-2 badge rounded-circle bg-danger">
				</span>
			</a>
			{% else %}
			<a href="/coinjoin" class="btn btn-outline-warning mt-3 ms-1" style="width: 10em;">Coinjoin</a>
			{% endif %}
		{% endif %}
	</div>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript">
	var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
	var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
		return new bootstrap.Tooltip(tooltipTriggerEl)
	});
</script>
{% endblock %}
