{% extends 'layout.html' %}
{% block title %}Create wallet{% endblock %}
{% block content %}
<h2 class="text-center mb-3">Create wallet</h2>
<div class="row">
<div class="col-lg-6 offset-lg-3 col-sm-12">
	<form id="create-wallet-form" action="/svc/joinmarketgui/create" method="POST">
		<div class="mb-3">
			<label for="walletname" class="form-label">Wallet Name (must end with .jmdat)</label>
			<input type="text" class="form-control" id="walletname" value="mixing.jmdat" required pattern="[a-z0-9]+\.jmdat" name="walletname">
		</div>
		<div class="mb-3">
			<label for="wallettype">Wallet type</label>
			<select class="form-select" aria-label="Select wallet type" name="wallettype">
				<option value="sw-fb" selected>Segwit Native with Fidelity Bonds</option>
				<!-- <option value="sw">Segwit Native</option> -->
				<!-- <option value="sw-legacy">Segwit Legacy</option> -->
			</select>
		</div>
		<div class="mb-3">
			<label for="password" class="form-label">Password</label>
			<input type="password" class="form-control" id="password" required name="password" autofocus>
			<div id="passwordHelp" class="form-text">Do not forget the password. It can't be recovered.</div>
		</div>
		<button type="submit" class="btn btn-primary" style="width: 100%">Create wallet</button>
	</form>
</div>
</div>
{% endblock %}