{% extends 'layout.html' %}
{% block title %}Error{% endblock %}
{% block content %}
<div class="row">
	<div class="col-lg-6 offset-lg-3 col-sm-12 text-center">
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
				<div class="alert alert-{{category}}" role="alert">{{ message }}</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
	</div>
</div>
<div class="row">
	<div class="col text-center">
		{% if error %}
			<div class="alert alert-danger" role="alert">{{error}}</div>
		{% else %}
			<div class="alert alert-danger" role="alert">Joinmarket daemon is down.</div>
		{% endif %}
	</div>
</div>
{% endblock %}