{% extends 'layout.html' %}
{% block title %}Seedphrase{% endblock %}
{% block content %}
<h2 class="text-center mb-3">Seedphrase</h2>
<div class="row">
	<div class="col-md-2 offset-md-5 col-xs-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Word</th>
				</tr>
			</thead>
			<tbody>
				{% for word in seedphrase %}
					<tr>
						<td>{{ loop.index }}</td>
						<td>{{ word }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<a href="/balance" class="btn btn-primary" style="width: 100%">Go back</a>
	</div>
</div>
{% endblock %}