{% extends 'layout.html' %}
{% block title %}Settings{% endblock %}
{% block content %}
<h2 class="text-center mb-3">Settings</h2>
<div class="row">
	<div class="col-lg-6 offset-lg-3 col-sm-12 text-center">
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
				<div class="alert alert-{{category}}" role="alert">{{ message }}</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
	</div>
</div>
<div class="row">
	<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-xs-12">
		<form action="/svc/joinmarketgui/settings" method="POST">
			<h3>BLOCKCHAIN</h3>
			<label class="form-label">RPC Host</label>
			<input type="text" name="BLOCKCHAIN.rpc_host" class="form-control mb-3" required value="{{ settings.BLOCKCHAIN.rpc_host }}">

			<label class="form-label">RPC Port</label>
			<input type="text" name="BLOCKCHAIN.rpc_port" class="form-control mb-3" required value="{{ settings.BLOCKCHAIN.rpc_port }}">

			<label class="form-label">RPC User</label>
			<input type="text" name="BLOCKCHAIN.rpc_user" class="form-control mb-3" required value="{{ settings.BLOCKCHAIN.rpc_user }}">

			<label class="form-label">RPC Password</label>
			<input type="text" name="BLOCKCHAIN.rpc_password" class="form-control mb-3" required value="{{ settings.BLOCKCHAIN.rpc_password }}">

			<label class="form-label">RPC wallet file</label>
			<input type="text" name="BLOCKCHAIN.rpc_wallet_file" class="form-control mb-3" required value="{{ settings.BLOCKCHAIN.rpc_wallet_file }}">

			<h3>POLICY</h3>
			<label class="form-label">Transaction fees</label>
			<input type="text" name="POLICY.tx_fees" class="form-control mb-3" required value="{{ settings.POLICY.tx_fees }}">
			
			<button type="submit" class="btn btn-primary" style="width: 100%">Save settings</button>
		</form>
	</div>
</div>
{% endblock %}