{% extends 'layout.html' %}
{% block title %}Unlock{% endblock %}
{% block content %}
<h2 class="text-center mb-3">Unlock wallet</h2>
<div class="row">
	<div class="col-lg-6 offset-lg-3 col-sm-12 text-center">
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
				<div class="alert alert-{{category}}" role="alert">{{ message }}</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		<form id="wallet-unlock-form" action="/svc/joinmarketgui/unlock" method="POST">
			<select class="form-select" aria-label="Select wallet" id="select-wallet" name="walletname">
				{% for wallet in wallets %}
				<option value={{wallet}}>{{wallet}}</option>
				{% endfor%}
			</select>
			<div class="mb-3 mt-3">
				<input type="password" class="form-control" id="password" placeholder="password" required name="password" autofocus>
			</div>
			<button type="submit" class="btn btn-primary" style="width: 100%">Unlock</button>
		</form>
		<a class="btn btn-outline-primary mt-2" style="width: 100%" href="/create">Create a wallet</a>
	</div>
</div>
{% endblock %}