{% extends 'layout.html' %}
{% block title %}Withdraw{% endblock %}
{% block content %}
<h2 class="text-center mb-3">Withdraw</h2>
<div class="row">
	<div class="col-lg-6 offset-lg-3 col-sm-12 text-center">
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
				<div class="alert alert-{{category}}" role="alert">{{ message }}</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
	</div>
</div>
<div class="row">
	<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-xs-12">
		<form action="/svc/joinmarketgui/withdraw" method="POST">
			<label class="form-label">Mixdepth</label>
			<select name="mixdepth" class="form-control mb-3" required>
				<option value="0">0</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
			</select>

			<label class="form-label">Amount (sats)</label>
			<input type="number" name="amount_sats" class="form-control mb-3" required>

			<label class="form-label">Destination address</label>
			<input type="text" name="destination" class="form-control mb-3" required>
			
			<button type="submit" class="btn btn-primary" style="width: 100%">Withdraw</button>
		</form>
	</div>
</div>
{% endblock %}