{% extends 'layout.html' %}
{% block title %}About{% endblock %}
{% block content %}
<h2 class="text-center mb-3">About</h2>
<div class="row">
	<div class="col-md-6 offset-md-3 col-xs-12">
		<h4>JoinMarket</h4>
		<p>Joinmarket is a software tool to mix bitcoins with peers in a decentralized fashion.</p>
		<h4>Web UI</h4>
		<p>This web-based user-interface is built upon the JoinMarket API to make it user-friendly for non power-users.</p>
		<h4>Disclaimer</h4>
		<p>Both Joinmarket and this web-interface is in experimental phase, so commit your bitcoin funds at your own risk.</p>
		<h4>Team</h4>
		<p>Currently, Manas Gandy is the sole contributor. PRs are welcome via <a href="https://github.com/manasgandy/joinmarket-gui" target="_blank">Github</a>.</p>
		<h4>Donation</h4>
		<p>BTC: bc1qu3dskrp8v5x6t6vmsr56rnrutngan58np9wa75</p>
	</div>
</div>
{% endblock %}