{% extends 'layout.html' %}
{% block title %}Deposit{% endblock %}

{% block style %}
{{ super() }}
<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='deposit.css') }}">
{% endblock %}

{% block content %}
<h2 class="text-center mb-1">Deposit</h2>
<div class="row">
	<div class="col text-center">
		<img id="QR" class="img-fluid" src="/get_qr_code?url={{address}}" alt="QR code for the bitcoin address" />
		<div id="address-div" class="rounded">
			<input type="text" id="hidden-address" value={{address}}>
			<span id="address" class="mt-2">
				<span id="start">{{address[:6]}}</span><span id="middle">{{address[6:-6]}}</span><span id="middle-dots">......</span><span id="end">{{address[-6:]}}</span>
			</span>
			<button id="copy-button" class="btn" title="Copy to clipboard" onclick="copyAddress()" data-bs-toggle="tooltip" data-bs-placement="top">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
					<path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
					<path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
				</svg>
			</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="col text-center">
		<a class="btn btn-primary mt-2" href="/">Back to homepage</a>
	</div>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript">
	function copyAddress() {
		var copyText = document.querySelector("#hidden-address");
		copyText.select();
		document.execCommand("copy");
	}
	var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
	var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
		return new bootstrap.Tooltip(tooltipTriggerEl)
	});
</script>
{% endblock %}
