#hidden-address {
	width: 0;
	height: 0;
	font-size: 0;
	padding: 0;
	border: 0;
}

#address-div {
	background: #f8f9fa;
	padding: 1em;
	margin: auto;
	width: fit-content;
}

#address #middle {
	font-weight: 100;
	display: none;
}

#address #start,
#address #end {
	font-weight: bold;
}

#copy-button {
	float: right;
	position: relative;
	bottom:  0.5em;
	left: 1em;
}

#copy-button:hover {
	color: blue;
}

@media (min-width: 600px) {
	#address #middle-dots {
		display: none;
	}
	#address #middle {
		display: inherit;
	}
}